.nav-list {
  margin-top: 64px;
  width: 100px;
  background: var(--color-menu-open);
  font: var(--font-text);
  font-weight: 700;

  a {
    color: var(--color-dark);
  }

  @media screen and (max-width: 599px) {
    margin-top: 56px;
  }
}


