<mat-sidenav-container>

  <mat-sidenav #sidenav class="nav-list">
    <app-menu (openMenu)="sidenav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (openMenu)="sidenav.toggle()"></app-header>



    <main class="main-principal">

      <div class="padding-top container-title" *ngIf="titlePage">
      </div>

      <div class="title-page" *ngIf="titlePage"> {{ titlePage }} </div>

      <router-outlet>
      </router-outlet>

    </main>

  </mat-sidenav-content>

</mat-sidenav-container>