.padding-top {
  padding-top: 70px;

  @media screen and (max-width: 599px) {
    padding-top: 62px;
  }
}

.container {
  margin: 60px;

  @media screen and (max-width: 768px) {
    margin: 20px;
  }
}