.container {
  margin: 40px 60px 40px 60px;

  @media screen and (max-width: 768px) {
    margin: 40px 20px 40px 20px;
  }
}

.close-button {
  background: var(--color-menu-open);
  top: -24px;
  right: -24px;
  cursor: pointer;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: none;
}

.invalid {
  border: 2px solid var(--color-red) !important;
}

.valid {
  border: 2px solid var(--color-menu-open) !important;
}

.form-field {
  width: 100%;
}

.label {
  color: var(--color-menu-open);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button-salvar {
  width: auto;
  height: 40px;
  padding: 0 30px;
  border-radius: 8px;
  border: none;
  background: var(--color-menu-open);
  outline: var(--color-menu-open);
  color: var(--color-white);
  font: var(--font-text);
  font-weight: 700;
  cursor: pointer;
}

.disabled {
  background: rgba(#921fc7, 0.5) !important;
  cursor: default !important;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(#921fc7, 0.5);
  border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--color-menu-open); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-menu-open); 
}