.padding-top {
  padding-top: 70px;

  @media screen and (max-width: 599px) {
    padding-top: 62px;
  }
}

.container {
  margin: 60px;

  @media screen and (max-width: 768px) {
    margin: 20px;
  }
}

.snack-bar-error {
  margin-top: 200px !important;
  background: var(--color-red);

  .mat-simple-snackbar {
    color: var(--color-dark);
    font-size: var(--message-font-size);
    font-weight: 700;
  }

  .mat-button {
    color: var(--color-white);
    font-size: var(--message-font-size);
    font-weight: bold;
  }
}