:root {
  --font-primary: Roboto;
  --font-secondary: Nunito;

  --color-menu: #A85FE8;
  --color-dark: #222222;
  --color-white: #FAFAFC;
  --color-menu-open: #921FC7;

  --font-title: 2.5rem/1rem var(--font-primary);
  --font-subtitle: 1.8rem/0.7rem var(--font-primary);
  --font-text: 1.3rem/0.5rem var(--font-secondary);
}
