h1, h2, h3, img, ul, li, a, button, p, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: unset;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}