<div class="container">
  <app-custom-input [label]="'Nome do curso:'" [type]="'text'" [isRequired]="true" [placeholder]="'Digite o nome do curso'" [(ngModel)]="curso.nome" [minlength]="'4'">
  </app-custom-input>

  <div class="margin-bottom"></div>

  <app-custom-textarea [label]="'Descrição:'" [placeholder]="'Digite a descrição do curso'" [type]="'text'" [isRequired]="true" [(ngModel)]="curso.descricao" [minlength]="'30'">
  </app-custom-textarea>

  <div class="margin-bottom"></div>

  <app-custom-input [label]="'Carga horária:'" [placeholder]="'Digite a carga horária do curso'" [type]="'number'" [isRequired]="true" [(ngModel)]="curso.cargaHoraria" [maxlength]="'3'">
  </app-custom-input>

  <div class="margin-bottom"></div>


  <mat-form-field class="form-field" appearance="outline" [hideRequiredMarker]="true">

    <mat-label class="label">*Preço: </mat-label>

    <input currencyMask class="input" name="input" matInput placeholder="Digite o preço do curso" type="text" required
       ngDefaultControl [(ngModel)]="curso.preco"
      [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }"  (ngModelChange)="setInvalid('preco', curso?.preco)" (focusout)="setInvalid('preco', curso?.preco)">

  </mat-form-field>

  <mat-error> {{ getErrorMessage('preco') }} </mat-error>

  <div class="margin-bottom"></div>


  <button class="button-default" (click)="saveCurso()" [class.disabled]="formInvalid()">{{ getTextButton() }}</button>

</div>
