<nav class="nav">
  <mat-toolbar-row class="nav-button">
    <div class="container-header">
      <div *ngIf="showMenu; else showArrowBack" (click)="openMenu.emit()">
        <mat-icon class="nav-icon">
          {{ icon }}
        </mat-icon>
        <p class="nav-text"> {{ text }}</p>
      </div>

      <ng-template #showArrowBack>
        <div (click)="back()">
          <mat-icon class="nav-icon">
            {{ icon }}
          </mat-icon>
          <p class="nav-text"> {{ text }}</p>
        </div>
      </ng-template>
    </div>

  </mat-toolbar-row>
</nav>