.container-header {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  div {
    display: flex;  
    align-items: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: static;
}

.nav-button {
  width: 100%;
  background: var(--color-menu);
  padding: 20px;
  border: none;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  outline: var(--color-menu);
  color: var(--color-dark);

  .nav-icon {
    margin-right: 4px;
  }

  .nav-text {
    font: var(--font-text);
    font-weight: 700;
  }
}
